In [16]:
import pandas as pd
import numpy as np

In [ ]:
ml = pd.read_csv('./data/ml_data/model_data.csv')
len(ml)
# Length of Forrest's dataset

In [18]:
ml.head()

,h_AdjTempo,h_AdjOE,h_AdjDE,h_eFG_Pct_O,h_eFG_Pct_D,h_TO_Pct_O,h_TO_Pct_D,h_OR_Pct_O,h_OR_Pct_D,h_FT_Rate_O,...,a_OppBlockPct,a_F3GRate,a_OppF3GRate,a_ARate,a_OppARate,a_StlRate,a_OppStlRate,hca,home_points,away_points
0,56.9537,96.7489,104.867,50.0378,53.1845,22.4911,19.9856,23.3696,31.5758,34.4175,...,9.6466,37.6415,35.5422,48.3266,49.7920,0.1061,0.0858,4.1,46,70
1,56.9537,96.7489,104.867,50.0378,53.1845,22.4911,19.9856,23.3696,31.5758,34.4175,...,7.4976,30.8418,31.6192,42.3701,54.7022,0.1148,0.1096,4.1,68,58
2,64.0592,110.2710,101.057,51.2293,49.3358,17.3706,19.7973,33.1795,27.7778,36.3271,...,10.6650,39.7126,44.2167,61.3793,60.6109,0.0816,0.1002,3.9,58,48
3,56.9537,96.7489,104.867,50.0378,53.1845,22.4911,19.9856,23.3696,31.5758,34.4175,...,10.5038,36.0082,39.1696,57.4040,57.1675,0.1091,0.0919,4.1,75,41
4,56.9537,96.7489,104.867,50.0378,53.1845,22.4911,19.9856,23.3696,31.5758,34.4175,...,7.0361,29.9877,34.7852,52.4793,53.1126,0.0878,0.1050,4.1,68,75

In [4]:
mldf = pd.read_csv('./data/sql_data/query_result.csv')
len(mldf)
# Query results with dups and nulls

59061

In [8]:
mlnn = mldf.loc[mldf['aOppFG2Pct'].notna()]
# Get rid of nulls where away team data was not present
mlnn = mlnn.loc[mlnn['hSeason'].notna()]
# Get rid of nulls where home team data not present
len(mlnn)

52338

In [9]:
mlnn['home_win'] = np.where(mlnn['home_points'] > mlnn['away_points'], True, False)

In [ ]:
mlnn.to_csv('./data/sql_data/cleaned_home_away.csv')

In [10]:
grouped = mlnn.groupby(['home_win']).count()
len(grouped)

2

In [11]:
grouped.head()

,away_team,home_team,home_points,away_points,neutral,KP_home,hSeason,hAdjTempo,hAdjOE,heFG_Pct_O,...,aOppFG2Pct,aOppFG3Pct,aOppFTPct,aOppBlockPct,aF3GRate,aOppF3GRate,aARate,aOppARate,aStlRate,aOppStlRate
home_win,,,,,,,,,,,,,,,,,,,,,
False,15927,15927,15927,15927,15927,15927,15927,15927,15927,15927,...,15927,15927,15927,15927,15927,15927,15927,15927,15927,15927
True,36411,36411,36411,36411,36411,36411,36411,36411,36411,36411,...,36411,36411,36411,36411,36411,36411,36411,36411,36411,36411

In [12]:
list(mlnn.columns.values)

['away_team',
 'home_team',
 'home_points',
 'away_points',
 'neutral',
 'KP_home',
 'hSeason',
 'hAdjTempo',
 'hAdjOE',
 'heFG_Pct_O',
 'heFG_Pct_D',
 'hTO_Pct_O',
 'hTO_Pct_D',
 'hOR_Pct_O',
 'hOR_Pct_D',
 'hFT_Rate_O',
 'hFT_Rate_D',
 'hOFF_FT',
 'hOFF_2PT',
 'hOFF_3PT',
 'hDEF_FT',
 'hDEF_2PT',
 'hDEF_3PT',
 'hSize',
 'hHgt1',
 'hHgt2',
 'hHgt3',
 'hHgt4',
 'hHgt5',
 'hHgtEff',
 'hExp',
 'hBench',
 'hPts1',
 'hPts2',
 'hPts3',
 'hPts4',
 'hPts5',
 'hOR1',
 'hOR2',
 'hOR3',
 'hOR4',
 'hOR5',
 'hDR1',
 'hDR2',
 'hDR3',
 'hDR4',
 'hDR5',
 'hFG2Pct',
 'hFG3Pct',
 'hFTPct',
 'hBlockPct',
 'hOppFG2Pct',
 'hOppFG3Pct',
 'hOppFTPct',
 'hOppBlockPct',
 'hF3GRate',
 'hOppF3GRate',
 'hARate',
 'hOppARate',
 'hStlRate',
 'hOppStlRate',
 'KP_home.1',
 'aSeason',
 'aAdjTempo',
 'aAdjOE',
 'aeFG_Pct_O',
 'aeFG_Pct_D',
 'aTO_Pct_O',
 'aTO_Pct_D',
 'aOR_Pct_O',
 'aOR_Pct_D',
 'aFT_Rate_O',
 'aFT_Rate_D',
 'aOFF_FT',
 'aOFF_2PT',
 'aOFF_3PT',
 'aDEF_FT',
 'aDEF_2PT',
 'aDEF_3PT',
 'aSize',
 'aHgt1',
 'aHgt2',
 'aHgt3',
 'aHgt4',
 'aHgt5',
 'aHgtEff',
 'aExp',
 'aBench',
 'aPts1',
 'aPts2',
 'aPts3',
 'aPts4',
 'aPts5',
 'aOR1',
 'aOR2',
 'aOR3',
 'aOR4',
 'aOR5',
 'aDR1',
 'aDR2',
 'aDR3',
 'aDR4',
 'aDR5',
 'aFG2Pct',
 'aFG3Pct',
 'aFTPct',
 'aBlockPct',
 'aOppFG2Pct',
 'aOppFG3Pct',
 'aOppFTPct',
 'aOppBlockPct',
 'aF3GRate',
 'aOppF3GRate',
 'aARate',
 'aOppARate',
 'aStlRate',
 'aOppStlRate',
 'home_win']

In [13]:
len(mlnn['away_team'].unique())
# NB there are 355 sportsref teams and 353 in Kenpom's HCA data.

347

In [14]:
len(mlnn['home_team'].unique()) #There are 395 unique home_teams in the Sportsref all_games csv, 
# and 1156 unique away_teams

347

In [15]:
len(mlnn)

52338